
@font-face {font-family: "iconfont";
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    display: inline-block;
    margin: 0 20px;
    font-family:"iconfont" !important;
    font-size: 2.5em;
    font-style:normal;
    line-height: 1;
    color: #22c3aa;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;

    opacity: 0.6;
    filter: alpha(opacity = 60);
    cursor: pointer;
}
.iconfont_ifo {
    position: relative;
    display: inline-block;
    margin: 0 20px;
    font-family:"iconfont" !important;
    font-size: 2.5em;
    font-style:normal;
    line-height: 1;
    color: #22c3aa;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;

    opacity: 0.6;
    filter: alpha(opacity = 60);
    cursor: move;
}
.iconfont_ifo:hover{
    opacity: 1;
    filter: alpha(opacity = 100);
}
.iconfont:hover{
    opacity: 1;
    filter: alpha(opacity = 100);
}
.icon-qq:before { content: "\e600"; }
.icon-appicon06:before { content: "\e604"; }
.icon-email:before { content: "\e609"; }
.icon-phone:before { content: "\e601"; }
.icon-downcircle:before { content: "\e605"; }
.icon-leftcircle:before { content: "\e606"; }
.icon-rightcircle:before { content: "\e607"; }
.icon-upcircle:before { content: "\e608"; }
.icon-weibo:before { content: "\e602"; }
.icon-github:before { content: "\e603"; }